FastQC/
MACS/
snpsplit/
.DS_store
CnR_notes.txt
BCS_metadata.txt
Macs2.callpeak.help.txt
Macs2.help.txt
snpsplit.help.txt

# R objects to ignore
Allele-Specific-CUTnRUN.Rproj
.Rproj.user
.RData
.Rhistory

